.message {
    position: absolute;
    width: 575px;
    height: 77px;
    margin-left: 635px;
    top: 168px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items:end;
}

.imageAndText img {
    height: 48px;
    width: 48px;
}

.text {
    width: 462px;
    height: 60px;
    margin-right: 12px;
    top: 200px;
    border-radius: 9px 9px 0 9px;
    background: #0066CC;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);

}

.text:after {
    content: '';
    position: absolute;
    display: block;
    right: 44px;
    bottom: 17px;
    width: 16px;
    height: 16px;
    background: radial-gradient(32px at top right, transparent 50%, #0066CC 0) no-repeat left bottom;

}

.name {
    width: 40px;
    height: 22px;
    margin-top: 7px;
    margin-left: 414px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

.messageText {
    width: 438px;
    height: 20px;
    margin-left: 13px;
    margin-top: 4px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;

}

.time {
    width: 26px;
    height: 12px;
    margin-left: 538px;
    margin-top: 5px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
}