.friendMessage {
    position: absolute;
    width: 462px;
    height: 77px;
    left: 70px;
    top: 275px;
}

.friendImageAndText {
    display: flex;
    align-items: end;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    left: 70px;
    top: 287px;
}

.friendText {
    width: 360px;
    height: 60px;
    left: 118px;
    margin-left: 14px;
    top: 275px;
    border-radius: 9px 9px 9px 0;
    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);

}

.friendText:after {
    content: '';
    position: absolute;
    display: block;
    right: 400px;
    bottom: 17px;
    width: 16px;
    height: 16px;
    background: radial-gradient(32px at top left, transparent 50%, #F5F7FB 0) no-repeat right bottom;
}

.friendName {
    width: 35px;
    height: 20px;
    margin-left: 13px;
    margin-top: 8px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #000000;

}

.friendMessageText {
    width: 374px;
    height: 20px;
    margin-left: 13px;
    margin-top: 4px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.friendTime {
    width: 29px;
    height: 12px;
    padding-left: 10px;
    padding-top: 5px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;

    color: #000000;

}
